//БЛОК КОНТАКТОВ

.contacts {
  background-image: url("../img/advantages/zigzag.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;

  @include desktop {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 527px;
    grid-template-rows: min-content min-content;
    gap: 0 53px;
    padding: 93px 50px 105px 113px;
    background-size: 1052px 23px;
  }
}

.contacts__body {
  padding: 44px 30px 62px;
  display: flex;
  flex-direction: column;
  gap: 28px;

  @include tablet {
    background-image: url("../img/icons/flag.svg");
    background-repeat: no-repeat;
    background-position: top 62px right 53px;
    padding: 85px 50px 48px;
    gap: 49px;
  }

  @include desktop {
    background-position: top 62px left;
    padding: 79px 0 0 112px;
    gap: 35px;
  }
}

.contacts__title {
  @include tablet {
    max-width: 500px;
  }
}

.contacts__content {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    flex-direction: column;
    justify-content: normal;
  }
}

.contacts__text-container {
  display: flex;
  gap: 34px;

  @include tablet {
    gap: 26px;
    align-items: flex-start;
  }
}

.contacts__text {
  font-size: 14px;
  line-height: 30px;

  @include tablet {
    font-size: 17px;
  }
}

.contacts__email {
  color: $color-text;
  font-size: 14px;
  line-height: 30px;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: $color-light-main;
  transition: color 0.3s ease, text-decoration-color 0.3s ease;

  @include tablet {
    font-size: 17px;
  }

  &:hover {
    color: $color-additional-main2;
    text-decoration-color: $color-additional-main2;
  }

  &:active {
    color: $color-additional-main2;
    text-decoration-color: rgba($color-additional-main2, 0.1);
  }
}

.contacts__address {
  font-size: 14px;
  line-height: 30px;
  font-style: normal;

  @include tablet {
    max-width: 257px;
    font-size: 17px;
  }
}

.contacts__container {
  @include desktop {
    grid-row: 1/3;
  }
}

.contacts__map {
  border: none;
  width: 100%;
  height: 454px;

  @include tablet {
    height: 457px;
  }

  @include desktop {
    grid-row: 1/-1;
    width: 100%;
  }
}

.contacts__image {
  display: none;
}

.contacts__wrapper {
  display: flex;
  padding: 37px 30px 39px;

  @include tablet {
    justify-content: center;
    padding: 50px 50px 57px;
  }

  @include desktop {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-content: flex-start;
    align-self: flex-end;
    padding: 0 0 0 112px;
  }
}

.contacts__link {
  width: 100%;

  @include tablet {
    width: 230px;
  }
}
