//КОНТЕЙНЕР ДЛЯ ФОРМЫ

.form-container__description {
  margin: 0;
  padding: 17px 30px 30px;
  font-size: 13px;
  line-height: 24px;

  @include tablet {
    font-size: 17px;
    line-height: 30px;
    padding: 54px 50px 13px;
  }

  @include desktop {
    max-width: 1150px;
    margin: 0 auto;
    padding: 98px 225px 13px;
  }
}
