//СТРАНИЦА

.page--nojs {
  .contacts__map {
    display: none;
  }

  .contacts__image {
    display: flex;
    justify-content: center;
  }

  @include mobile {
    .main-navigation__toggle {
      display: none;
    }

    .main-navigation {
      margin: 0;
      flex-grow: 1;
    }

    .main-navigation__lists {
      display: block;
    }

    .page-header__wrapper {
      padding: 77px 0 19px;
    }
  }
}
