//ШАПКА САЙТА

.page-header {
  &--main {
    @include tablet {
      background: linear-gradient($color-white 0 66%, $color-additional-grey4 66% 100%);
    }
  }

  &--extra {
    @include tablet {
      background: linear-gradient($color-white 0 66%, $color-grey 66% 100%);
    }
  }

  @include mobile {
    &--nojs {
      .main-navigation__toggle {
        display: none;
      }

      .main-navigation {
        margin: 0;
        flex-grow: 1;
      }

      .main-navigation__lists {
        display: block;
      }

      .page-header__wrapper {
        padding: 80px 0 19px;
      }
    }
  }

  @include tablet {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 66%;
      transform: translateY(-66%);
      left: 0;
      right: 0;
      height: 1px;
      background-color: rgba($color-black, 0.1);
    }
  }
}

.page-header__wrapper {
  position: relative;
  min-height: 79px;
  border-top: 1px solid $color-additional-grey2;
  padding: 19px 30px;
  display: flex;
  align-items: center;

  @include tablet {
    border: none;
    padding: 0 50px;
    align-items: stretch;
  }
}

.page-header__logo {
  display: flex;
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translate(-50%);
  transition: opacity 0.3s ease;

  @include tablet {
    transform: none;
    top: 22px;
    left: 48px;
  }

  @include desktop {
    top: 9px;
    left: 50%;
    transform: translate(-50%);
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
