//СЛАЙДЕР

.slider {
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.slider__body {
  display: none;

  &--active {
    display: block;
  }
}

.slider__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include tablet {
    min-width: 165px;
    position: absolute;
    bottom: 116px;
    right: 56px;
  }

  @include desktop {
    bottom: 166px;
  }
}

.slider__button {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: 1px solid #ececec;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    width: 50px;
    height: 26px;
    background-color: $color-black;
    mask: url("../img/icons/arrow-left.svg");
    transition: background-color 0.3s ease;
  }

  &--next {
    transform: rotate(180deg);
    margin-left: -1px;

    @include tablet {
      margin: 0;
    }
  }

  @include tablet {
    border: none;
  }

  &:hover {
    &::before {
      background-color: rgba($color-black, 0.6);
    }
  }

  &:active {
    &::before {
      background-color: rgba($color-black, 0.3);
    }
  }
}
