//ПЕРЕМЕННЫЕ

//ШРИФТЫ

$font-family-main: "Open Sans", "Arial", sans-serif;

//ЦВЕТА

$color-white: #ffffff;
$color-black: #000000;
$color-text: #444444;
$color-main: #63d1bb;
$color-additional-main: #56c3b2;
$color-dark-main: #149080;

//РАЗМЕРЫ ЭКРАНА

$tablet-width: 768px;
$desktop-width: 1150px;
