//ПЕРЕМЕННЫЕ

//ШРИФТЫ

$font-family-main: "Open Sans", "Arial", sans-serif;

//ЦВЕТА

$color-white: #ffffff;
$color-black: #000000;
$color-light-black: #231f20;
$color-text: #444444;
$color-main: #63d1bb;
$color-light-main: #62d1ba;
$color-additional-main: #56c3b2;
$color-additional-main2: #46c1ae;
$color-additional-main3: #59d5bc;
$color-dark-main: #149080;
$color-grey: #f1f1f1;
$color-additional-grey: #e5e5e5;
$color-additional-grey2: #ececec;
$color-additional-grey3: #c6c6c6;
$color-additional-grey4: #f9f9f9;
$color-dark-grey: #231f20;

//РАЗМЕРЫ ЭКРАНА

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
